body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 10px;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
}

header {
  grid-column: 1 / -1;
  background-color: orange;
}

nav {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: lime;
}

main {
  grid-row: 2;
  grid-column: 2;
  background-color: lightgoldenrodyellow;
}

aside {
  grid-row: 2;
  grid-column: 3;
  background-color: cornflowerblue;
}

footer {
  grid-row: 3;
  grid-column: 1 / -1;
  background-color: pink;
}

p {
  margin: 0;
  padding: 15px;
}

.pane {
  transition: 0.25s all ease-in-out;
}

.pane:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  filter: brightness(0.9);
  cursor: pointer;
}

.border {
  border: 2px solid black;
}

.round-corners {
  border-radius: 4px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
